.chatWindow{
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


/* Navbar */
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span{
  margin: 1rem 2rem;
}

.userIconDiv{
  margin: 1rem 2rem;
}

.userIcon{
  background-color: rgb(8, 64, 96);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* chatInput */

.chatInput{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox{
width: 100%;
position: relative;
max-width: 700px;
display: flex;
justify-content:space-between ;
align-items: center;

}

input{
  width: 100%;
  border: none;
  background-color: rgba(255,255,255,0.05);
  padding:20px;
  font-size:0.8rem;
  border-radius: 14px;
}

input:focus{
  outline: none;
}

.info{
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #b4b4b4;
}

#submit i:hover{
  color: #fff;
}

#submit{
  cursor: pointer;
  height: 35px;
  width: 35px;
  position: absolute;
  font-size: 20px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gptDiv {
  font-size: 0.95rem;
  line-height: 1.65;
  letter-spacing: 0.1px;
}
